* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.startForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: var(--corSecundaria);
    color: var(--corPrincipal);
}

.userInput {
    margin: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

:root {
    --corPrincipal: #f9ca24;
    --corSecundaria: #111;
}